/* Base Styles */
body {
  width: 100%;
  height: auto;
  color: royalblue;
  text-align: center;
  background-color: bisque;
  font-family: "Borel", "Georgia";
  font-size: 1em;
}

.gradient-background {
  background: linear-gradient(300deg,#96d08f,#e3a6af,#eb9562);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Typography */
.nav-item a {
  font-size: 1.5em;
}

.container-fluid {
  padding-top: 2em;
}

.header-content {
  margin-top: 3em;
}

.header-content h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  margin-top: 1.3em;
}

h3 {
  font-size: 1.5em;
  margin-top: 1em;
}

.card {
  margin: 5em;
}


/* Links & Accents */

/* Images */
/*

}
.seasonal-offer img{
  height: 75vh;
}

*/
img {
  width: 100%;
  height: auto;
}

/* Hero Section */

/* Main Content */

/* About Section */

/* Specials Section */


/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
/*make hovers*/